<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Force ID</th>
      <th>Rank</th>
      <th>Name</th>
      <th>Department</th>
      <th>Contact No</th>
      <th>Designation</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.force_id %></td>
        <td><%= employee.rank %></td>
        <td><%= employee.name %></td>
        <td><%= employee.dept %></td>
        <td><%= employee.contact_no %></td>
        <td><%= employee.designation %></td>
        <td>
        <% if employee.photo.present? %>
    <%= image_tag(employee.photo) %>
  <% else %>
    <p>No photo available</p>
  <% end %>
        
        </td>
        <td><%= link_to 'Show', employee %></td>
        <td>
        
        

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Employee', new_employee_path %>

<%= link_to 'Back', dashboard_index_path %>

